body {
  @include outer-container;
}

.wrapper {
  @include span-columns(12);
}

header {
  .branding, nav {
    @include span-columns(6 of 12);
  }
  .branding {
    h1, p {
      display: inline-block;
    }
    h1 {
      margin-right: $small-spacing/2;
    }
  }
  nav {
    @include omega();
    padding-top: $h1-font-size*1.75;
    ul {
      float: right;
      li {
        display: inline-block;
        padding: 0 $small-spacing;
      }
    }
  }
}

main {
}
